.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  background-color: var(--primary);
  gap: 1rem;
}

.row:nth-child(even) {
  background-color: var(--primary-dark);
}

.exchange {
  font-weight: 900;
  font-size: 1.2rem;
}

.volume {
  font-weight: 500;
  font-size: 1.2rem;
  opacity: 0.9;
}
