.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  background-color: #f5f5f5;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.text {
  font-size: 1.5rem;
  color: #333;
}

.link {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #333;
  text-decoration: underline;
}
