.container {
  display: grid;
  place-items: center;
  height: calc(100vh - 60px);
}

.loading {
  height: 70px;
  line-height: 70px;
}

.loading div {
  height: 20px;
  width: 10px;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid #cecece;
  vertical-align: middle;
  border-radius: 2px;
  background-color: white;
  margin: 0 2px;
}

.loading div:nth-of-type(3) {
  animation: square 0.6s linear infinite;
}
.loading div:nth-of-type(2) {
  animation: square 0.6s -0.1s linear infinite;
}
.loading div:nth-of-type(1) {
  animation: square 0.6s -0.2s linear infinite;
}

@keyframes square {
  0% {
    height: 30px;
    border-color: var(--primary);
    background-color: var(--primary-dark);
  }

  20% {
    height: 30px;
    border-color: var(--primary);
    background-color: var(--primary-dark);
  }

  80% {
    height: 20px;
  }

  100% {
    height: 20px;
  }
}
