.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 100;
  backdrop-filter: blur(8px);
}

.modal.open {
  display: flex;
}

.modal .content {
  background-color: var(--primary-dark);
  padding: 1.4rem;
  border-radius: 0.5rem;
  width: 80%;
  max-width: 360px;
  height: auto;
  max-height: 500px;
  overflow: auto;
}

