.header {
  z-index: 100;
  background-color: #2c2756;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: 0 0.6rem;
}

.title {
  text-align: center;
  padding: 4px;
  font-size: 1.1rem;
}

.icon {
  font-size: 1.5rem;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: gold;
}

.legend {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

.radioGroup {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.radioGroup input,
.radioGroup label {
  cursor: pointer;
  margin-right: 0.5rem;
}
